<h1>My sites</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= site.name %></td>
    <td><%= button_to 'Edit site', edit_site_path(site), method: :get %></td>
    <td><%= button_to 'Destroy', site, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New site', new_site_path, method: :get %>
