<h1><%= @site.name %> requires</h1>

<div class="template">
	<p>Template:</p><br />
	<p><%= @site.template %></p>  <!-- FIXME: did not work... text_area :template, @site.template, :disabled => true %>
   -->
</div>

<h2>Site texts:</h2>
<%= button_to 'New site text', new_site_path %>